@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 100%;
  min-height: 100vh;
  background: url("../images/pattern-background-desktop.svg")
    hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  background-size: contain;

  font-family: "Red Hat Display", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 10px; /* space for top bottom section*/
}

.order-component {
  width: 100%;
  max-width: 400px;
  height: fit-content;
  border-radius: 1rem;
  background: hsl(0, 0%, 100%);
}

.order-component img {
  width: 100%;
  height: auto;
  border-radius: 1rem 1rem 0 0;
}

.main-heading {
  padding: 2.3rem 3.34rem 1.25rem;
  text-align: center;
}

.main-heading h1 {
  margin: 0 0 1rem;
  font-size: 24px;
  font-weight: 900;
}

.main-heading p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  color: hsl(224, 23%, 55%);
}

.order-content {
  padding: 1.25rem;
  margin: 0 2.5rem 1.5rem;
  border-radius: 0.8rem;
  background-color: hsl(225, 100%, 98%);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

li > svg {
  margin-right: 18px;
}

li > h3,
li > span {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
}

li > span {
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}

.order-content a {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 15px;
}

.order-content a:hover {
  color: hsl(245, 83%, 68%);
}

.order-btns {
  margin: 0 2.5rem;
}

.order-btns button {
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

button.proceed-btn {
  background: hsl(245, 75%, 52%);
  box-shadow: 0px 15px 3px 0px hsl(224, 23%, 55%, 0.2);
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 2rem;
}

button.proceed-btn:hover {
  background-color: hsl(245, 83%, 68%);
}

button.cancel-btn {
  background: transparent;
  color: hsl(224, 23%, 55%);
  margin-bottom: 3rem;
}

button.cancel-btn:hover {
  color: hsl(223, 47%, 23%);
}

@media screen and (max-width: 430px) {
  .main-heading {
    padding: 2.3rem 2.34rem 1.25rem;
  }

  .order-content {
    margin: 0 1.5rem 1.5rem;
  }

  .order-btns {
    margin: 0 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  #container {
    background: url("../images/pattern-background-mobile.svg")
      hsl(225, 100%, 94%);
    background-repeat: no-repeat;
  }
}

.creator {
  margin: 20px auto 0;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1.5px;
  word-spacing: 2px;
}

.creator a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
